@import url('https://fonts.googleapis.com/css2?family=Anton');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-font {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.temporary-font {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.text-font {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}

/* fade animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-fade-in {
  animation: fadeIn 2s ease-in-out;
}

/* dark mode */
.dark-mode {
  background-image: url('./assets/bg_dark_mobile.jpg');
  background-size: cover;
}
.light-mode {
  background-image: url('./assets/bg_light_mobile.jpg');
  background-size: cover;
}
@media (min-width: 640px) {
  .dark-mode {
    background-image: url('./assets/bg_dark_mobile.jpg');
    background-size: cover;
  }
  .light-mode {
    background-image: url('./assets/bg_light_mobile.jpg');
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .dark-mode {
    background-image: url('./assets/bg_dark_desktop.jpg');
    background-size: cover;
  }
  .light-mode {
    background-image: url('./assets/bg_light_desktop.jpg');
    background-size: cover;
  }
}

/* nav underline */
.nav-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.nav-item {
  text-decoration: none;
  padding: 5px 0;
}
.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #303030;
  transition: width 0.3s ease;
  width: 0;
  height: 2px;
}
.nav-item:hover::after {
  width: 100%;
}
.nav-item-hover-dark::after {
  background-color: #e4d5b7;
}

/* mobile nav background */
.dark-nav-bg {
  background-color: #303030;
}
.light-nav-bg {
  background-color: #e2c311;
}
/* nav scroll background */
.transparent-bg {
  background: transparent;
}

/* repo box shadow */
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

/* contents scroll */
.contents-scroll {
  position: static;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: visible;
}
@media (min-width: 768px) {
  .contents-scroll {
    position: sticky;
    top: 2rem;
    width: 50%;
    max-width: 50%;
    overflow: hidden;
    height: 100vh;
  }
}
